/*
 * meltline
 */
/*!
 * ress.css • v1.1.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}
*,
::before,
::after {
  box-sizing: inherit;
}
::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}
/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}
/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}
/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
summary {
  display: list-item;
  /* Add the correct display in all browsers */
}
small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}
[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}
abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}
a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}
a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}
b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}
dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}
/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}
/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}
/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"] [role="button"] {
  cursor: pointer;
}
/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}
[type="number"] {
  width: auto;
  /* Firefox 36+ */
}
[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}
textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}
optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}
button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}
/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}
button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}
/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}
/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}
select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}
select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}
legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}
[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}
/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}
/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}
svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}
audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}
/* # =================================================================
   # Acessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}
/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}
/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}
/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}
/*
 * reset
 */
a {
  color: inherit;
  text-decoration: none;
}
img,
svg {
  max-width: 100%;
}
/*
 * variables
 */
:root {
  --main-color: #222;
}
/*
 * display
 */
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
/*
 * position
 */
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
/*
 * overflow
 */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
/*
 * transition
 */
.transition {
  transition: 256ms;
}
/*
 * method
 */
/*
 * box
 */
.p0 {
  padding: 0px;
}
.pt0 {
  padding-top: 0px;
}
.pr0 {
  padding-right: 0px;
}
.pb0 {
  padding-bottom: 0px;
}
.pl0 {
  padding-left: 0px;
}
.px0 {
  padding-left: 0px;
  padding-right: 0px;
}
.py0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.p1 {
  padding: 1px;
}
.pt1 {
  padding-top: 1px;
}
.pr1 {
  padding-right: 1px;
}
.pb1 {
  padding-bottom: 1px;
}
.pl1 {
  padding-left: 1px;
}
.px1 {
  padding-left: 1px;
  padding-right: 1px;
}
.py1 {
  padding-top: 1px;
  padding-bottom: 1px;
}
.p2 {
  padding: 2px;
}
.pt2 {
  padding-top: 2px;
}
.pr2 {
  padding-right: 2px;
}
.pb2 {
  padding-bottom: 2px;
}
.pl2 {
  padding-left: 2px;
}
.px2 {
  padding-left: 2px;
  padding-right: 2px;
}
.py2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.p3 {
  padding: 3px;
}
.pt3 {
  padding-top: 3px;
}
.pr3 {
  padding-right: 3px;
}
.pb3 {
  padding-bottom: 3px;
}
.pl3 {
  padding-left: 3px;
}
.px3 {
  padding-left: 3px;
  padding-right: 3px;
}
.py3 {
  padding-top: 3px;
  padding-bottom: 3px;
}
.p4 {
  padding: 4px;
}
.pt4 {
  padding-top: 4px;
}
.pr4 {
  padding-right: 4px;
}
.pb4 {
  padding-bottom: 4px;
}
.pl4 {
  padding-left: 4px;
}
.px4 {
  padding-left: 4px;
  padding-right: 4px;
}
.py4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.p5 {
  padding: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.px5 {
  padding-left: 5px;
  padding-right: 5px;
}
.py5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.p6 {
  padding: 6px;
}
.pt6 {
  padding-top: 6px;
}
.pr6 {
  padding-right: 6px;
}
.pb6 {
  padding-bottom: 6px;
}
.pl6 {
  padding-left: 6px;
}
.px6 {
  padding-left: 6px;
  padding-right: 6px;
}
.py6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
.p7 {
  padding: 7px;
}
.pt7 {
  padding-top: 7px;
}
.pr7 {
  padding-right: 7px;
}
.pb7 {
  padding-bottom: 7px;
}
.pl7 {
  padding-left: 7px;
}
.px7 {
  padding-left: 7px;
  padding-right: 7px;
}
.py7 {
  padding-top: 7px;
  padding-bottom: 7px;
}
.p8 {
  padding: 8px;
}
.pt8 {
  padding-top: 8px;
}
.pr8 {
  padding-right: 8px;
}
.pb8 {
  padding-bottom: 8px;
}
.pl8 {
  padding-left: 8px;
}
.px8 {
  padding-left: 8px;
  padding-right: 8px;
}
.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p9 {
  padding: 9px;
}
.pt9 {
  padding-top: 9px;
}
.pr9 {
  padding-right: 9px;
}
.pb9 {
  padding-bottom: 9px;
}
.pl9 {
  padding-left: 9px;
}
.px9 {
  padding-left: 9px;
  padding-right: 9px;
}
.py9 {
  padding-top: 9px;
  padding-bottom: 9px;
}
.p10 {
  padding: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.px10 {
  padding-left: 10px;
  padding-right: 10px;
}
.py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p11 {
  padding: 11px;
}
.pt11 {
  padding-top: 11px;
}
.pr11 {
  padding-right: 11px;
}
.pb11 {
  padding-bottom: 11px;
}
.pl11 {
  padding-left: 11px;
}
.px11 {
  padding-left: 11px;
  padding-right: 11px;
}
.py11 {
  padding-top: 11px;
  padding-bottom: 11px;
}
.p12 {
  padding: 12px;
}
.pt12 {
  padding-top: 12px;
}
.pr12 {
  padding-right: 12px;
}
.pb12 {
  padding-bottom: 12px;
}
.pl12 {
  padding-left: 12px;
}
.px12 {
  padding-left: 12px;
  padding-right: 12px;
}
.py12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.p13 {
  padding: 13px;
}
.pt13 {
  padding-top: 13px;
}
.pr13 {
  padding-right: 13px;
}
.pb13 {
  padding-bottom: 13px;
}
.pl13 {
  padding-left: 13px;
}
.px13 {
  padding-left: 13px;
  padding-right: 13px;
}
.py13 {
  padding-top: 13px;
  padding-bottom: 13px;
}
.p14 {
  padding: 14px;
}
.pt14 {
  padding-top: 14px;
}
.pr14 {
  padding-right: 14px;
}
.pb14 {
  padding-bottom: 14px;
}
.pl14 {
  padding-left: 14px;
}
.px14 {
  padding-left: 14px;
  padding-right: 14px;
}
.py14 {
  padding-top: 14px;
  padding-bottom: 14px;
}
.p15 {
  padding: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl15 {
  padding-left: 15px;
}
.px15 {
  padding-left: 15px;
  padding-right: 15px;
}
.py15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.p16 {
  padding: 16px;
}
.pt16 {
  padding-top: 16px;
}
.pr16 {
  padding-right: 16px;
}
.pb16 {
  padding-bottom: 16px;
}
.pl16 {
  padding-left: 16px;
}
.px16 {
  padding-left: 16px;
  padding-right: 16px;
}
.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p17 {
  padding: 17px;
}
.pt17 {
  padding-top: 17px;
}
.pr17 {
  padding-right: 17px;
}
.pb17 {
  padding-bottom: 17px;
}
.pl17 {
  padding-left: 17px;
}
.px17 {
  padding-left: 17px;
  padding-right: 17px;
}
.py17 {
  padding-top: 17px;
  padding-bottom: 17px;
}
.p18 {
  padding: 18px;
}
.pt18 {
  padding-top: 18px;
}
.pr18 {
  padding-right: 18px;
}
.pb18 {
  padding-bottom: 18px;
}
.pl18 {
  padding-left: 18px;
}
.px18 {
  padding-left: 18px;
  padding-right: 18px;
}
.py18 {
  padding-top: 18px;
  padding-bottom: 18px;
}
.p19 {
  padding: 19px;
}
.pt19 {
  padding-top: 19px;
}
.pr19 {
  padding-right: 19px;
}
.pb19 {
  padding-bottom: 19px;
}
.pl19 {
  padding-left: 19px;
}
.px19 {
  padding-left: 19px;
  padding-right: 19px;
}
.py19 {
  padding-top: 19px;
  padding-bottom: 19px;
}
.p20 {
  padding: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.px20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p21 {
  padding: 21px;
}
.pt21 {
  padding-top: 21px;
}
.pr21 {
  padding-right: 21px;
}
.pb21 {
  padding-bottom: 21px;
}
.pl21 {
  padding-left: 21px;
}
.px21 {
  padding-left: 21px;
  padding-right: 21px;
}
.py21 {
  padding-top: 21px;
  padding-bottom: 21px;
}
.p22 {
  padding: 22px;
}
.pt22 {
  padding-top: 22px;
}
.pr22 {
  padding-right: 22px;
}
.pb22 {
  padding-bottom: 22px;
}
.pl22 {
  padding-left: 22px;
}
.px22 {
  padding-left: 22px;
  padding-right: 22px;
}
.py22 {
  padding-top: 22px;
  padding-bottom: 22px;
}
.p23 {
  padding: 23px;
}
.pt23 {
  padding-top: 23px;
}
.pr23 {
  padding-right: 23px;
}
.pb23 {
  padding-bottom: 23px;
}
.pl23 {
  padding-left: 23px;
}
.px23 {
  padding-left: 23px;
  padding-right: 23px;
}
.py23 {
  padding-top: 23px;
  padding-bottom: 23px;
}
.p24 {
  padding: 24px;
}
.pt24 {
  padding-top: 24px;
}
.pr24 {
  padding-right: 24px;
}
.pb24 {
  padding-bottom: 24px;
}
.pl24 {
  padding-left: 24px;
}
.px24 {
  padding-left: 24px;
  padding-right: 24px;
}
.py24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.p25 {
  padding: 25px;
}
.pt25 {
  padding-top: 25px;
}
.pr25 {
  padding-right: 25px;
}
.pb25 {
  padding-bottom: 25px;
}
.pl25 {
  padding-left: 25px;
}
.px25 {
  padding-left: 25px;
  padding-right: 25px;
}
.py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.p26 {
  padding: 26px;
}
.pt26 {
  padding-top: 26px;
}
.pr26 {
  padding-right: 26px;
}
.pb26 {
  padding-bottom: 26px;
}
.pl26 {
  padding-left: 26px;
}
.px26 {
  padding-left: 26px;
  padding-right: 26px;
}
.py26 {
  padding-top: 26px;
  padding-bottom: 26px;
}
.p27 {
  padding: 27px;
}
.pt27 {
  padding-top: 27px;
}
.pr27 {
  padding-right: 27px;
}
.pb27 {
  padding-bottom: 27px;
}
.pl27 {
  padding-left: 27px;
}
.px27 {
  padding-left: 27px;
  padding-right: 27px;
}
.py27 {
  padding-top: 27px;
  padding-bottom: 27px;
}
.p28 {
  padding: 28px;
}
.pt28 {
  padding-top: 28px;
}
.pr28 {
  padding-right: 28px;
}
.pb28 {
  padding-bottom: 28px;
}
.pl28 {
  padding-left: 28px;
}
.px28 {
  padding-left: 28px;
  padding-right: 28px;
}
.py28 {
  padding-top: 28px;
  padding-bottom: 28px;
}
.p29 {
  padding: 29px;
}
.pt29 {
  padding-top: 29px;
}
.pr29 {
  padding-right: 29px;
}
.pb29 {
  padding-bottom: 29px;
}
.pl29 {
  padding-left: 29px;
}
.px29 {
  padding-left: 29px;
  padding-right: 29px;
}
.py29 {
  padding-top: 29px;
  padding-bottom: 29px;
}
.p30 {
  padding: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pr30 {
  padding-right: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.pl30 {
  padding-left: 30px;
}
.px30 {
  padding-left: 30px;
  padding-right: 30px;
}
.py30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.p31 {
  padding: 31px;
}
.pt31 {
  padding-top: 31px;
}
.pr31 {
  padding-right: 31px;
}
.pb31 {
  padding-bottom: 31px;
}
.pl31 {
  padding-left: 31px;
}
.px31 {
  padding-left: 31px;
  padding-right: 31px;
}
.py31 {
  padding-top: 31px;
  padding-bottom: 31px;
}
.p32 {
  padding: 32px;
}
.pt32 {
  padding-top: 32px;
}
.pr32 {
  padding-right: 32px;
}
.pb32 {
  padding-bottom: 32px;
}
.pl32 {
  padding-left: 32px;
}
.px32 {
  padding-left: 32px;
  padding-right: 32px;
}
.py32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.p40 {
  padding: 40px;
}
.pt40 {
  padding-top: 40px;
}
.pr40 {
  padding-right: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.pl40 {
  padding-left: 40px;
}
.px40 {
  padding-left: 40px;
  padding-right: 40px;
}
.py40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.p50 {
  padding: 50px;
}
.pt50 {
  padding-top: 50px;
}
.pr50 {
  padding-right: 50px;
}
.pb50 {
  padding-bottom: 50px;
}
.pl50 {
  padding-left: 50px;
}
.px50 {
  padding-left: 50px;
  padding-right: 50px;
}
.py50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.p55 {
  padding: 55px;
}
.pt55 {
  padding-top: 55px;
}
.pr55 {
  padding-right: 55px;
}
.pb55 {
  padding-bottom: 55px;
}
.pl55 {
  padding-left: 55px;
}
.px55 {
  padding-left: 55px;
  padding-right: 55px;
}
.py55 {
  padding-top: 55px;
  padding-bottom: 55px;
}
.p60 {
  padding: 60px;
}
.pt60 {
  padding-top: 60px;
}
.pr60 {
  padding-right: 60px;
}
.pb60 {
  padding-bottom: 60px;
}
.pl60 {
  padding-left: 60px;
}
.px60 {
  padding-left: 60px;
  padding-right: 60px;
}
.py60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.p64 {
  padding: 64px;
}
.pt64 {
  padding-top: 64px;
}
.pr64 {
  padding-right: 64px;
}
.pb64 {
  padding-bottom: 64px;
}
.pl64 {
  padding-left: 64px;
}
.px64 {
  padding-left: 64px;
  padding-right: 64px;
}
.py64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.p70 {
  padding: 70px;
}
.pt70 {
  padding-top: 70px;
}
.pr70 {
  padding-right: 70px;
}
.pb70 {
  padding-bottom: 70px;
}
.pl70 {
  padding-left: 70px;
}
.px70 {
  padding-left: 70px;
  padding-right: 70px;
}
.py70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.p80 {
  padding: 80px;
}
.pt80 {
  padding-top: 80px;
}
.pr80 {
  padding-right: 80px;
}
.pb80 {
  padding-bottom: 80px;
}
.pl80 {
  padding-left: 80px;
}
.px80 {
  padding-left: 80px;
  padding-right: 80px;
}
.py80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.p89 {
  padding: 89px;
}
.pt89 {
  padding-top: 89px;
}
.pr89 {
  padding-right: 89px;
}
.pb89 {
  padding-bottom: 89px;
}
.pl89 {
  padding-left: 89px;
}
.px89 {
  padding-left: 89px;
  padding-right: 89px;
}
.py89 {
  padding-top: 89px;
  padding-bottom: 89px;
}
.p90 {
  padding: 90px;
}
.pt90 {
  padding-top: 90px;
}
.pr90 {
  padding-right: 90px;
}
.pb90 {
  padding-bottom: 90px;
}
.pl90 {
  padding-left: 90px;
}
.px90 {
  padding-left: 90px;
  padding-right: 90px;
}
.py90 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.p100 {
  padding: 100px;
}
.pt100 {
  padding-top: 100px;
}
.pr100 {
  padding-right: 100px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl100 {
  padding-left: 100px;
}
.px100 {
  padding-left: 100px;
  padding-right: 100px;
}
.py100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.m0 {
  margin: 0px;
}
.mt0 {
  margin-top: 0px;
}
.mr0 {
  margin-right: 0px;
}
.mb0 {
  margin-bottom: 0px;
}
.ml0 {
  margin-left: 0px;
}
.mx0 {
  margin-left: 0px;
  margin-right: 0px;
}
.my0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.m1 {
  margin: 1px;
}
.mt1 {
  margin-top: 1px;
}
.mr1 {
  margin-right: 1px;
}
.mb1 {
  margin-bottom: 1px;
}
.ml1 {
  margin-left: 1px;
}
.mx1 {
  margin-left: 1px;
  margin-right: 1px;
}
.my1 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.m2 {
  margin: 2px;
}
.mt2 {
  margin-top: 2px;
}
.mr2 {
  margin-right: 2px;
}
.mb2 {
  margin-bottom: 2px;
}
.ml2 {
  margin-left: 2px;
}
.mx2 {
  margin-left: 2px;
  margin-right: 2px;
}
.my2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.m3 {
  margin: 3px;
}
.mt3 {
  margin-top: 3px;
}
.mr3 {
  margin-right: 3px;
}
.mb3 {
  margin-bottom: 3px;
}
.ml3 {
  margin-left: 3px;
}
.mx3 {
  margin-left: 3px;
  margin-right: 3px;
}
.my3 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.m4 {
  margin: 4px;
}
.mt4 {
  margin-top: 4px;
}
.mr4 {
  margin-right: 4px;
}
.mb4 {
  margin-bottom: 4px;
}
.ml4 {
  margin-left: 4px;
}
.mx4 {
  margin-left: 4px;
  margin-right: 4px;
}
.my4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.m5 {
  margin: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mx5 {
  margin-left: 5px;
  margin-right: 5px;
}
.my5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.m6 {
  margin: 6px;
}
.mt6 {
  margin-top: 6px;
}
.mr6 {
  margin-right: 6px;
}
.mb6 {
  margin-bottom: 6px;
}
.ml6 {
  margin-left: 6px;
}
.mx6 {
  margin-left: 6px;
  margin-right: 6px;
}
.my6 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.m7 {
  margin: 7px;
}
.mt7 {
  margin-top: 7px;
}
.mr7 {
  margin-right: 7px;
}
.mb7 {
  margin-bottom: 7px;
}
.ml7 {
  margin-left: 7px;
}
.mx7 {
  margin-left: 7px;
  margin-right: 7px;
}
.my7 {
  margin-top: 7px;
  margin-bottom: 7px;
}
.m8 {
  margin: 8px;
}
.mt8 {
  margin-top: 8px;
}
.mr8 {
  margin-right: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml8 {
  margin-left: 8px;
}
.mx8 {
  margin-left: 8px;
  margin-right: 8px;
}
.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.m9 {
  margin: 9px;
}
.mt9 {
  margin-top: 9px;
}
.mr9 {
  margin-right: 9px;
}
.mb9 {
  margin-bottom: 9px;
}
.ml9 {
  margin-left: 9px;
}
.mx9 {
  margin-left: 9px;
  margin-right: 9px;
}
.my9 {
  margin-top: 9px;
  margin-bottom: 9px;
}
.m10 {
  margin: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}
.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m11 {
  margin: 11px;
}
.mt11 {
  margin-top: 11px;
}
.mr11 {
  margin-right: 11px;
}
.mb11 {
  margin-bottom: 11px;
}
.ml11 {
  margin-left: 11px;
}
.mx11 {
  margin-left: 11px;
  margin-right: 11px;
}
.my11 {
  margin-top: 11px;
  margin-bottom: 11px;
}
.m12 {
  margin: 12px;
}
.mt12 {
  margin-top: 12px;
}
.mr12 {
  margin-right: 12px;
}
.mb12 {
  margin-bottom: 12px;
}
.ml12 {
  margin-left: 12px;
}
.mx12 {
  margin-left: 12px;
  margin-right: 12px;
}
.my12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.m13 {
  margin: 13px;
}
.mt13 {
  margin-top: 13px;
}
.mr13 {
  margin-right: 13px;
}
.mb13 {
  margin-bottom: 13px;
}
.ml13 {
  margin-left: 13px;
}
.mx13 {
  margin-left: 13px;
  margin-right: 13px;
}
.my13 {
  margin-top: 13px;
  margin-bottom: 13px;
}
.m14 {
  margin: 14px;
}
.mt14 {
  margin-top: 14px;
}
.mr14 {
  margin-right: 14px;
}
.mb14 {
  margin-bottom: 14px;
}
.ml14 {
  margin-left: 14px;
}
.mx14 {
  margin-left: 14px;
  margin-right: 14px;
}
.my14 {
  margin-top: 14px;
  margin-bottom: 14px;
}
.m15 {
  margin: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mr15 {
  margin-right: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mx15 {
  margin-left: 15px;
  margin-right: 15px;
}
.my15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.m16 {
  margin: 16px;
}
.mt16 {
  margin-top: 16px;
}
.mr16 {
  margin-right: 16px;
}
.mb16 {
  margin-bottom: 16px;
}
.ml16 {
  margin-left: 16px;
}
.mx16 {
  margin-left: 16px;
  margin-right: 16px;
}
.my16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.m17 {
  margin: 17px;
}
.mt17 {
  margin-top: 17px;
}
.mr17 {
  margin-right: 17px;
}
.mb17 {
  margin-bottom: 17px;
}
.ml17 {
  margin-left: 17px;
}
.mx17 {
  margin-left: 17px;
  margin-right: 17px;
}
.my17 {
  margin-top: 17px;
  margin-bottom: 17px;
}
.m18 {
  margin: 18px;
}
.mt18 {
  margin-top: 18px;
}
.mr18 {
  margin-right: 18px;
}
.mb18 {
  margin-bottom: 18px;
}
.ml18 {
  margin-left: 18px;
}
.mx18 {
  margin-left: 18px;
  margin-right: 18px;
}
.my18 {
  margin-top: 18px;
  margin-bottom: 18px;
}
.m19 {
  margin: 19px;
}
.mt19 {
  margin-top: 19px;
}
.mr19 {
  margin-right: 19px;
}
.mb19 {
  margin-bottom: 19px;
}
.ml19 {
  margin-left: 19px;
}
.mx19 {
  margin-left: 19px;
  margin-right: 19px;
}
.my19 {
  margin-top: 19px;
  margin-bottom: 19px;
}
.m20 {
  margin: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}
.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m21 {
  margin: 21px;
}
.mt21 {
  margin-top: 21px;
}
.mr21 {
  margin-right: 21px;
}
.mb21 {
  margin-bottom: 21px;
}
.ml21 {
  margin-left: 21px;
}
.mx21 {
  margin-left: 21px;
  margin-right: 21px;
}
.my21 {
  margin-top: 21px;
  margin-bottom: 21px;
}
.m22 {
  margin: 22px;
}
.mt22 {
  margin-top: 22px;
}
.mr22 {
  margin-right: 22px;
}
.mb22 {
  margin-bottom: 22px;
}
.ml22 {
  margin-left: 22px;
}
.mx22 {
  margin-left: 22px;
  margin-right: 22px;
}
.my22 {
  margin-top: 22px;
  margin-bottom: 22px;
}
.m23 {
  margin: 23px;
}
.mt23 {
  margin-top: 23px;
}
.mr23 {
  margin-right: 23px;
}
.mb23 {
  margin-bottom: 23px;
}
.ml23 {
  margin-left: 23px;
}
.mx23 {
  margin-left: 23px;
  margin-right: 23px;
}
.my23 {
  margin-top: 23px;
  margin-bottom: 23px;
}
.m24 {
  margin: 24px;
}
.mt24 {
  margin-top: 24px;
}
.mr24 {
  margin-right: 24px;
}
.mb24 {
  margin-bottom: 24px;
}
.ml24 {
  margin-left: 24px;
}
.mx24 {
  margin-left: 24px;
  margin-right: 24px;
}
.my24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.m25 {
  margin: 25px;
}
.mt25 {
  margin-top: 25px;
}
.mr25 {
  margin-right: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.ml25 {
  margin-left: 25px;
}
.mx25 {
  margin-left: 25px;
  margin-right: 25px;
}
.my25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.m26 {
  margin: 26px;
}
.mt26 {
  margin-top: 26px;
}
.mr26 {
  margin-right: 26px;
}
.mb26 {
  margin-bottom: 26px;
}
.ml26 {
  margin-left: 26px;
}
.mx26 {
  margin-left: 26px;
  margin-right: 26px;
}
.my26 {
  margin-top: 26px;
  margin-bottom: 26px;
}
.m27 {
  margin: 27px;
}
.mt27 {
  margin-top: 27px;
}
.mr27 {
  margin-right: 27px;
}
.mb27 {
  margin-bottom: 27px;
}
.ml27 {
  margin-left: 27px;
}
.mx27 {
  margin-left: 27px;
  margin-right: 27px;
}
.my27 {
  margin-top: 27px;
  margin-bottom: 27px;
}
.m28 {
  margin: 28px;
}
.mt28 {
  margin-top: 28px;
}
.mr28 {
  margin-right: 28px;
}
.mb28 {
  margin-bottom: 28px;
}
.ml28 {
  margin-left: 28px;
}
.mx28 {
  margin-left: 28px;
  margin-right: 28px;
}
.my28 {
  margin-top: 28px;
  margin-bottom: 28px;
}
.m29 {
  margin: 29px;
}
.mt29 {
  margin-top: 29px;
}
.mr29 {
  margin-right: 29px;
}
.mb29 {
  margin-bottom: 29px;
}
.ml29 {
  margin-left: 29px;
}
.mx29 {
  margin-left: 29px;
  margin-right: 29px;
}
.my29 {
  margin-top: 29px;
  margin-bottom: 29px;
}
.m30 {
  margin: 30px;
}
.mt30 {
  margin-top: 30px;
}
.mr30 {
  margin-right: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml30 {
  margin-left: 30px;
}
.mx30 {
  margin-left: 30px;
  margin-right: 30px;
}
.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.m31 {
  margin: 31px;
}
.mt31 {
  margin-top: 31px;
}
.mr31 {
  margin-right: 31px;
}
.mb31 {
  margin-bottom: 31px;
}
.ml31 {
  margin-left: 31px;
}
.mx31 {
  margin-left: 31px;
  margin-right: 31px;
}
.my31 {
  margin-top: 31px;
  margin-bottom: 31px;
}
.m32 {
  margin: 32px;
}
.mt32 {
  margin-top: 32px;
}
.mr32 {
  margin-right: 32px;
}
.mb32 {
  margin-bottom: 32px;
}
.ml32 {
  margin-left: 32px;
}
.mx32 {
  margin-left: 32px;
  margin-right: 32px;
}
.my32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.m40 {
  margin: 40px;
}
.mt40 {
  margin-top: 40px;
}
.mr40 {
  margin-right: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml40 {
  margin-left: 40px;
}
.mx40 {
  margin-left: 40px;
  margin-right: 40px;
}
.my40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.m50 {
  margin: 50px;
}
.mt50 {
  margin-top: 50px;
}
.mr50 {
  margin-right: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.ml50 {
  margin-left: 50px;
}
.mx50 {
  margin-left: 50px;
  margin-right: 50px;
}
.my50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.m55 {
  margin: 55px;
}
.mt55 {
  margin-top: 55px;
}
.mr55 {
  margin-right: 55px;
}
.mb55 {
  margin-bottom: 55px;
}
.ml55 {
  margin-left: 55px;
}
.mx55 {
  margin-left: 55px;
  margin-right: 55px;
}
.my55 {
  margin-top: 55px;
  margin-bottom: 55px;
}
.m60 {
  margin: 60px;
}
.mt60 {
  margin-top: 60px;
}
.mr60 {
  margin-right: 60px;
}
.mb60 {
  margin-bottom: 60px;
}
.ml60 {
  margin-left: 60px;
}
.mx60 {
  margin-left: 60px;
  margin-right: 60px;
}
.my60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.m64 {
  margin: 64px;
}
.mt64 {
  margin-top: 64px;
}
.mr64 {
  margin-right: 64px;
}
.mb64 {
  margin-bottom: 64px;
}
.ml64 {
  margin-left: 64px;
}
.mx64 {
  margin-left: 64px;
  margin-right: 64px;
}
.my64 {
  margin-top: 64px;
  margin-bottom: 64px;
}
.m70 {
  margin: 70px;
}
.mt70 {
  margin-top: 70px;
}
.mr70 {
  margin-right: 70px;
}
.mb70 {
  margin-bottom: 70px;
}
.ml70 {
  margin-left: 70px;
}
.mx70 {
  margin-left: 70px;
  margin-right: 70px;
}
.my70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.m80 {
  margin: 80px;
}
.mt80 {
  margin-top: 80px;
}
.mr80 {
  margin-right: 80px;
}
.mb80 {
  margin-bottom: 80px;
}
.ml80 {
  margin-left: 80px;
}
.mx80 {
  margin-left: 80px;
  margin-right: 80px;
}
.my80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.m89 {
  margin: 89px;
}
.mt89 {
  margin-top: 89px;
}
.mr89 {
  margin-right: 89px;
}
.mb89 {
  margin-bottom: 89px;
}
.ml89 {
  margin-left: 89px;
}
.mx89 {
  margin-left: 89px;
  margin-right: 89px;
}
.my89 {
  margin-top: 89px;
  margin-bottom: 89px;
}
.m90 {
  margin: 90px;
}
.mt90 {
  margin-top: 90px;
}
.mr90 {
  margin-right: 90px;
}
.mb90 {
  margin-bottom: 90px;
}
.ml90 {
  margin-left: 90px;
}
.mx90 {
  margin-left: 90px;
  margin-right: 90px;
}
.my90 {
  margin-top: 90px;
  margin-bottom: 90px;
}
.m100 {
  margin: 100px;
}
.mt100 {
  margin-top: 100px;
}
.mr100 {
  margin-right: 100px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml100 {
  margin-left: 100px;
}
.mx100 {
  margin-left: 100px;
  margin-right: 100px;
}
.my100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.border-dark {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.border-light {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.width-full {
  width: 100%;
}
.height-full {
  height: 100%;
}
.size-full {
  width: 100%;
  height: 100%;
}
/*
 * flex
 */
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-left {
  justify-content: flex-start;
}
.flex-right {
  justify-content: flex-end;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-middle {
  align-items: center;
}
.flex-top {
  align-items: flex-start;
}
.flex-bottom {
  align-items: flex-end;
}
.flex-heart {
  justify-content: center;
  align-items: center;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-fixed {
  flex: 0 0 auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
input.input[type='text'] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  border-radius: 3px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: white;
  color: #666666;
  font-weight: bold;
  cursor: pointer;
}
.button.primary {
  color: #ffffff;
  background-color: #347ab7;
  border-color: #2e6ca3;
}
.button.danger {
  color: #ffffff;
  background-color: #d8544f;
  border-color: #d4403a;
}
/*
 * shrothand
 */
.f {
  display: flex;
}
.fc {
  justify-content: center;
}
.fl {
  justify-content: flex-start;
}
.fr {
  justify-content: flex-end;
}
.fm {
  align-items: center;
}
.ft {
  align-items: flex-start;
}
.fb {
  align-items: flex-end;
}
.fh {
  justify-content: center;
  align-items: center;
}
