page-index
  module-header.fixed.t0.l0.b0.w300
  div.pl300.bg-top
    div.overflow-scroll
      div.container.p10
        i.icon-home.fs64
        i.icon-star.fs64
        div.items
          div.rounded-4.mb32.f(each='{items}')
            div.flex-fixed.mr16
              div.w200.s-w100.rect
                img.block.s-full.object-fit-cover(src='{image_url}')
            div.w-full
              h3.text-primary
                a(href='/items/{id}') {title}
              p.line-clamp-3.word-break-all.s-hide {body}

  style(type='less').
    :scope {
      .bg-top {
        background: url('images/background/background.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #f6f7f9;
      }
      .pl300 {
        padding-left: 300px;
      }
    }

  script.
    var self = this;

    this.on('fetch', function(e) {
      this.items = e.response.data.items;
      this.update();
    });
    
    this.on('show', function() {
    });

