page-index
  module-header.fixed.t0.l0.b0.w300
  div.pl300.bg-top
    div.title-contents.w-full.text-center.white.py100
      div.f.fh
        img(src="/images/logo/logo-white.svg")
        span.fs80.ml16 meltline
      div.mb55.fs16 Simple, Easy, and Effective CSS Framework
      div.fs14
        a
          button.cursor-pointer.rounded-100.border-none.py16.px32.mr16.bg-4bc0c9.white Getting Started
        a(href="https://github.com/phi-jp/meltline" target="_blank")
          button.cursor-pointer.rounded-100.border-none.py16.px32.bg-white.text-4bc0c9 on Github

    div.overflow-scroll
      div.container.p10
        i.icon-home.fs64
        i.icon-star.fs64
        div.items
          div.rounded-4.mb32.f(each='{items}')
            div.flex-fixed.mr16
              div.w200.s-w100.rect
                img.block.s-full.object-fit-cover(src='{image_url}')
            div.w-full
              h3.text-primary
                a(href='/items/{id}') {title}
              p.line-clamp-3.word-break-all.s-hide {body}

  style(type='less').
    :scope {
      .bg-top {
        background: url('images/background/background.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #f6f7f9;
      }
      .pl300 {
        padding-left: 300px;
      }
      .text-4bc0c9 {
        color: #4bc0c9 !important;
      }
      .bg-4bc0c9 {
        background-color: #4bc0c9 !important;
      }

    }

  script.
    var self = this;

    this.on('fetch', function(e) {
      this.items = e.response.data.items;
      this.update();
    });
    
    this.on('show', function() {
    });

