@keyframes meltline-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.anim-spin {
  animation: meltline-spin 1s linear infinite;
}

@keyframes meltline-appear {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
.anim-appear {
  animation: meltline-appear 1s;
}

@keyframes meltline-disappear {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}
.anim-disappear {
  animation: meltline-disappear 1s forwards;
}
