
.define-color(@key, @value) {
  .@{key} {
    color: @value;
  }
  .text-@{key} {
    color: @value;
  }
  .bg-@{key} {
    background-color: @value;
  }
  .border-@{key} {
    border-color: @value;
  }
}

.define-color-grad(@key, @a, @b, @angle:0deg) {
  .@{key} {
    background-image: -webkit-linear-gradient(@a, @b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-@{key} {
    background-image: -webkit-linear-gradient(@a, @b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-@{key} {
    background-image: linear-gradient(@angle, @a 0%, @b 100%);
  }
  .border-@{key} {
    border-color: @a;
  }
}

.for(@colors, {
  .define-color(@value, @value);
}) !important;


/*
 * gradients
 * refs
 * https://digitalsynopsis.com/design/beautiful-color-gradients-backgrounds/
 * https://runstant.com/phi/projects/529a951c
 */
.define-color-grad(warmflame, #ff9a9e, #fad0c4, 0deg);
.define-color-grad(juicypeach, #ffecd2, #fcb69f, 0deg);
.define-color-grad(ladylips, #ff9a9e, #fecfef, 0deg);
.define-color-grad(winterneva, #a1c4fd, #c2e9fb, 0deg);
.define-color-grad(heavyrain, #cfd9df, #e2ebf0, 0deg);
.define-color-grad(cloudyknoxville, #fdfbfb, #ebedee, 0deg);
.define-color-grad(saintpetersberg, #f5f7fa, #c3cfe2, 0deg);
.define-color-grad(plumplate, #667eea, #764ba2, 0deg);
.define-color-grad(everlastingsky, #fdfcfb, #e2d1c3, 0deg);
.define-color-grad(happyfisher, #89f7fe, #66a6ff, 0deg);
.define-color-grad(flyhigh, #48c6ef, #6f86d6, 0deg);
.define-color-grad(strongbliss, #F68297, #FE9181, 0deg);
.define-color-grad(freshmilk, #feada6, #f5efef, 0deg);
.define-color-grad(greatwhale, #a3bded, #6991c7, 0deg);
.define-color-grad(aquasplash, #13547a, #80d0c7, 0deg);
.define-color-grad(cleanmirror, #93a5cf, #e4efe9, 0deg);
.define-color-grad(premiumdark, #434343, #000000, 0deg);
.define-color-grad(cochitilake, #93a5cf, #e4efe9, 0deg);
.define-color-grad(passionatebed, #ff758c, #ff7eb3, 0deg);
.define-color-grad(mountainrock, #868f96, #596164, 0deg);
.define-color-grad(deserthump, #c79081, #dfa579, 0deg);
.define-color-grad(eternalconstance, #09203f, #537895, 0deg);
.define-color-grad(healthywater, #96deda, #50c9c3, 0deg);
.define-color-grad(viciousstance, #29323c, #485563, 0deg);
.define-color-grad(nega, #ee9ca7, #ffdde1, 0deg);
.define-color-grad(nightsky, #1e3c72, #2a5298, 0deg);
.define-color-grad(gentlecare, #ffc3a0, #ffafbd, 0deg);
.define-color-grad(angelcare, #FFDD96, #FF6691, 0deg);
.define-color-grad(morningsalad, #B7F8DB, #50A7C2, 0deg);
.define-color-grad(deeprelief, #D9F0F7, #657BAF, 0deg);