
.define-color(@key, @value) {
  .@{key} {
    color: @value;
  }
  .text-@{key} {
    color: @value;
  }
  .bg-@{key} {
    background-color: @value;
  }
  .border-@{key} {
    border-color: @value;
  }
}

.define-color-grad(@key, @a, @b, @angle:0deg) {
  .@{key} {
    background-image: -webkit-linear-gradient(@a, @b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-@{key} {
    background-image: -webkit-linear-gradient(@a, @b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-@{key} {
    background-image: linear-gradient(@angle, @a 0%, @b 100%);
  }
  .border-@{key} {
    border-color: @a;
  }
}

.for(@colors, {
  .define-color(@value, @value);
}) !important;


/*
 * gradients
 * ref: https://digitalsynopsis.com/design/beautiful-color-gradients-backgrounds/
 */
.define-color-grad(warmflame, #ff9a9e, #fad0c4, 0deg);
.define-color-grad(juicypeach, #ffecd2, #fcb69f, 0deg);
.define-color-grad(ladylips, #ff9a9e, #fecfef, 0deg);
.define-color-grad(winterneva, #a1c4fd, #c2e9fb, 0deg);
.define-color-grad(heavyrain, #cfd9df, #e2ebf0, 0deg);
.define-color-grad(cloudyknoxville, #cfd9df, #e2ebf0, 0deg);
.define-color-grad(saintpetersberg, #f5f7fa, #c3cfe2, 0deg);

