/*
 * responsive
 */

/*
 * device
 */
@media @media-mobile {
  .device:after {
    content: 'mobile';
  }
}
@media @media-tablet {
  .device:after {
    content: 'tablet';
  }
}
@media @media-desktop {
  .device:after {
    content: 'desktop';
  }
}
// window.getComputedStyle($0, ':after').content


/*
 * show/hide
 */
@media @media-mobile {
  .s-hide {
    display: none !important;
  }

  .m-show { display: none !important; }
  .l-show { display: none !important; }
}
@media @media-tablet {
  .m-hide {
    display: none !important;
  }

  .s-show { display: none !important; }
  .l-show { display: none !important; }
}
@media @media-desktop {
  .l-hide {
    display: none !important;
  }

  .s-show { display: none !important; }
  .m-show { display: none !important; }
}

/*
 * grid
 */
.row {
  .flex;
  flex-wrap: wrap;
}
// col
.for(1 2 3 4 5 6 7 8 9 10 11 12, {
  .col@{value} {
    width: (100% / 12 * @value);
  }
});

@media @media-mobile {
  .for(1 2 3 4 5 6 7 8 9 10 11 12, {
    .s-col@{value} {
      width: (100% / 12 * @value);
    }
  });
}

@media @media-tablet {
  .for(1 2 3 4 5 6 7 8 9 10 11 12, {
    .m-col@{value} {
      width: (100% / 12 * @value);
    }
  });
}

@media @media-desktop {
  .for(1 2 3 4 5 6 7 8 9 10 11 12, {
    .l-col@{value} {
      width: (100% / 12 * @value);
    }
  });
}

/*
 * flex
 */
@media @media-mobile {
  .s-flex-wrap { flex-wrap: wrap; }
  .s-flex-nowrap { flex-wrap: nowrap; }
  .s-flex-wrap-reverse { flex-wrap: wrap-reverse; }

  .s-flex-row { flex-direction: row; }
  .s-flex-row-reverse { flex-direction: row-reverse; }
  .s-flex-column { flex-direction: column; }
  .s-flex-column-reverse { flex-direction: column-reverse; }
}
@media @media-tablet {
  .m-flex-wrap { flex-wrap: wrap; }
  .m-flex-nowrap { flex-wrap: nowrap; }
  .m-flex-wrap-reverse { flex-wrap: wrap-reverse; }

  .m-flex-row { flex-direction: row; }
  .m-flex-row-reverse { flex-direction: row-reverse; }
  .m-flex-column { flex-direction: column; }
  .m-flex-column-reverse { flex-direction: column-reverse; }
}

/*
 * padding, margin
 */
@media @media-mobile {
  .define-box-shorthand(@nums-1-100, s-p, padding) !important;
  .define-box-shorthand(@nums-1-100, s-m, margin) !important;
}
// @media @media-tablet {
//   .define-box(medium-padding, padding) !important;
// }
// @media @media-desktop {
//   .define-box(large-padding, padding) !important;
// }


/*
 *
 */
@media @media-mobile {
  .for(@nums, {
    .s-fs@{value} { font-size: @value * 1px !important; }
  });
}

/*
 * width, height
 */
@media @media-mobile {
  .define-size(s-) !important;
}
@media @media-tablet {
  .define-size(m-) !important;
}



