/*
 *
 */

.define-size(@nums);
.define-size-per(@nums-1-100);
.define-size-util();


// max-width
.for(@nums-container,{
  .max-width-@{value} {
    max-width: @value * 1px;
  }
});

  // container
.for(@nums-container,{
  .container-@{value} {
    margin-left: auto;
    margin-right: auto;
    max-width: @value * 1px;
  }
});