

/*
 * display
 */
.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }

/*
 * overflow
 */
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-scroll {
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}


/*
 * object-fit
 */
.object-fit-cover { object-fit: cover; }
.object-fit-contain { object-fit: contain; }

.object-position-top { object-position: 50% 0%; }
.object-position-middle { object-position: 50% 50%; }
.object-position-bottom { object-position: 50% 100%; }

/*
 * transition
 */
.transition {
  transition: 256ms;
}

/*
 * animation
 */
.fadeIn {
  transition: 256ms;
  opacity: 1;
}
.fadeOut {
  transition: 256ms;
  opacity: 0;
}

/*
 * filter
 */
.filter-grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*
 * opacity
 */
.for(0 10 20 30 40 50 60 70 80 90 100, {
  .opacity-@{value} { opacity: @value * 0.01; }
});

// shadow
.box-shadow {
  box-shadow: 0px 0px 4px 0px #222;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}
